
:root {
  --background: #222831;
  --secondary-background: #495464;
  --primary: #706897;
  --accent: aliceblue;
}
html body{
  background: var(--background);
  color: var(--accent);
}
.App {
  padding-top: 5rem;
  text-align: center;
}
.clock {
  font-family: 'Arsenal', sans-serif;
  font-size: 5rem;
  font-weight: 600;
}

.list-clock {
  font-family: 'Arsenal', sans-serif;
  font-weight: 600; 
}

.button {
  background: var(--primary);
  color: var(--accent);
  padding: 0.7rem 1.2rem;
  border-radius: 0.7rem;
  border: none;
  outline: none;
}

.select {
  background: var(--primary);
  color: var(--accent);
  padding: 0.7rem 1.2rem;
  border-radius: 0.7rem;
  border: none;
  outline: none;

}

.modal {
  position: fixed;
  height: 100%;
  margin: 0;
  z-index: 100;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: end center;
  overflow: hidden;
}

.content {
  width: 60%;
  height: 60%;
  background: var(--secondary-background);
  border-radius: 2rem;
  padding: 2rem;
  overflow: scroll;
}

@media(max-width: 600px) {
  .modal {
    align-items: flex-end;
  }
  .content{
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.close-button-container{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.close-button{
  background-color: var(--accent);
  border: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

h4 {
  font-weight: 600;
}

.grid-between {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  padding: 3rem;
}

.flex-evenly {
  display: flex;
  gap: 0.2rem;
  justify-content: space-evenly;
}